$font: "Roboto", sans-serif;
$likes: #22c55e;
$dislikes: #ff5252;
$success: #22c55e;
$fail: #dc143c;
$accent: #dc143c;
$input-bg-color: #f3f4f6;
$rounded: 10px;
$spacing: 0.05rem;
$icon-spacing: 0.5rem;
$cubic-bezier: cubic-bezier(0.25, 0.8, 0.25, 1);
$default-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
